
/* 나눔스퀘어 레귤러 */
@font-face {
    font-family: 'nanum-square-r';
    src: url('/css/fonts/nanumsquarer.eot');
    src: url('/css/fonts/nanumsquarer.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/nanumsquarer.woff2') format('woff2'),
         url('/css/fonts/nanumsquarer.woff') format('woff'),
         url('/css/fonts/nanumsquarer.ttf') format('truetype'),
         url('/css/fonts/nanumsquarer.svg#nanumsquarerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*gmarket sans*/
@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
